.b-body {
  background: linear-gradient(45deg, #ff6633 30%, #ff3366 60%, #cc3366 100%) no-repeat;
  height: 100vh;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #666666;
  font-family: "Arial", sans-serif; }

.b-form {
  background-color: #FFF;
  min-height: 530px;
  max-width: 505px;
  -webkit-border-radius: 5px;
    -webkit-border-radius-border-radius: 5px; }

.l-form {
  margin: 35px; }

.b-logo {
  display: inline-block; }

.e-form-heading {
  display: inline-block;
  margin: 0;
  color: #000;
  font-size: 1.6em;
  padding-left: 10px; }

.b-registration {
  text-align: justify; }

.e-registration_input {
  background-color: #555;
  border-style: none;
  margin: 10px 0 10px 0;
  height: 2.5em;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  border-radius: 3px; }

.e-registration_input__S {
  width: 45%; }

.e-registration_input__L {
  width: 97.8%; }

.b-button-submit {
  width: 100%;
  height: 3em;
  margin-top: 10px;
  color: #FFF;
  background-color: #ff3366;
  border: none;
  border-bottom: 3px solid #bb3366;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.e-form_link {
  color: #ff3366;
  text-decoration: none; }

.e-form_agreements {
  margin: 40px 0 40px 0; }

.e-form_link:visited {
  color: #ff3366; }
